// ------------------------------------
  // GLOBAL COLORS
// ------------------------------------

$white: #fff;
$lightGrey: #ccc;
$grey: #999;
$darkGrey: #777;
$black: #111;


// ------------------------------------
  // BACKGROUND COLORS
// ------------------------------------

$bgLightGrey: #f8f8f8;
$bgDarkGrey: #f4f4f4;
$bgSecondaryFooter: #222;

// ------------------------------------
  // COMPONENT COLORS
// ------------------------------------
$buttonWhite: #ececec;
