.projects {
	@extend .centerAlignFlex;
}

.nav {
	display: flex;
	justify-content: center;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3rem;
	font-size:0;
	div {
		width: 33.3%;
		overflow:hidden;
		@media (max-width: $md){
			width: 50%;
		}

		img {
			max-width: 100%;
			transition: all 0.5s ease-in-out;
			&:hover{
				transform:scale(1.1);
			}

			@media (max-width: $md){
			width: 100%;
			}
		}
	}
}



